/**
 * Rock Paper Scissors
 * 
 * Author: Alec Sosa
 * Date: 6/27/22
 * 
 * Filename: style.css
 */
 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 100vh;
}

.wrapper {
}

.display {
    padding: 50px;
    border: 2px solid black;
}

.display-wrap {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    gap: 20vw;
    padding: 20px;
}

#buttons button {
    padding: 50px;
}